{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2 class="my-4">Mental Health Resources</h2>
        <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
            <img src="https://images.pexels.com/photos/5711176/pexels-photo-5711176.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">How to Stay Resilient</h5>
                <p class="card-text">An article about staying emotionally healthy in difficult times.</p>
                <a href="https://www.nih.gov/health-information/emotional-wellness-toolkit" class="btn btn-info">Read more</a>
            </div>
            </div>
        </div>
        <!-- Repeat similar cards for other resources -->
        </div>
    </div>
{% endblock %}

  